* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Urbanist', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: white;
}