.ButtonStyle {
    background-color: #0074D9;
    color: #FFF;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.ButtonStyle:hover {
    background-color: #0056B3;
}