.container{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.annoucementContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}